{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay "></div>
<div class="container mb-2 h-100">
    <div class="row">
        <div class="col">
            <h2 class="logo text-center bag-title">Shopping Bag</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    {% if bag_items %}
    <div class="col">
        <table class="col">
            {% for item in bag_items %}
            <tr>
                <td class="p-3 w-25">
                    <img class="img-fluid rounded bag-img" src="{{ item.product.image.url }}">
                </td>
                <td class="py-3">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                </td>
                <td class="py-3">
                    <p class="my-0">£{{ item.product.price }}</p>
                </td>
                <td class="py-3 w-25">
                    <p class="my-0">Qty: {{ item.quantity }}</p>
                </td>
                <td class="py-3">
                    <p class="my-0">£{{ item.product.price }}</p>
                </td>
                <td class="py-3">
                    <i class="fa-solid fa-trash-can my-0 logo"></i>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5" class="pt-5 text-right">
                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-1 text-danger">
                        Spend an extra <strong>£{{ free_delivery_delta }}</strong> to get free delivery!
                    </p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="" class="btn btn-black rounded-0 btn-lg icon">
                        <span class="text-uppercase checkout">Secure Checkout</span>
                        <span class="">
                            <i class="fa-solid fa-unlock"></i>
                        </span>
                    </a>
                </td>
            </tr>
    {% else %}
        <p class="lead mb-5">Your bag is empty.</p>
        <a href="{% url 'products' %}" class="btn rounded-0 btn-lg shop-btn logo">
            <span>
                <i class="fas fa-chevron-left"></i>
            </span>
            Keep Shopping
        </a>
        {% endif %}
        </table>
    </div>
</div>

{% endblock %}