{% extends 'base.html' %}
{% load static %}

<!-- I've Kept this page header here as it pushing the Shopping Bag title down
    below the navigation and delivery banner -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Overlay to mute the background image slightly -->
<div class="error-overlay"></div>
<!-- 404 Error Message -->
<div class="container landing h-100">
    <div class="row h-100">
        <div class="col-lg-6 my-auto error">
            <h1 class="display-4 logo-header">
                <strong>Opps! Something went wrong...</strong>
            </h1>
            <h4 class="sub-header">
                Error 404. This page does not exist... Click the link below to return to All Products.
            </h4>
            <div class="my-5 shop-now">
                <!-- Link to return to products page -->
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-btn btn btn-lg rounded-0 text-uppercase py-3"><strong>
                        All Products
                    </strong></a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}