{% extends 'base.html' %}
{% load static %}

<!-- I've Kept this page header here as it pushing the Shopping Bag title down
    below the navigation and delivery banner -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Homepage Greeting -->
<div class="container landing h-100">
    <div class="row h-100">
        <div class="col-lg-6 my-auto landing-msg">
            <h1 class="display-4 logo-header">
                <strong>Beautiful Handmade Jewellery for Every Occasion</strong>
            </h1>
            <h4 class="sub-header">
                Find the perfect gift today!
            </h4>
            <div class="my-5 shop-now">
                <!-- Link to shop all products -->
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-btn btn btn-lg rounded-0 text-uppercase py-3"><strong>
                        Shop Now
                    </strong></a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}