{% extends "base.html" %}
{% load static %}
{% block extra_title %} | Checkout Success{% endblock %}

<!-- Additional CSS -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

<!-- I've Kept this page header here as it pushing the Shopping Bag title down
    below the navigation and delivery banner -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- White background overlay div to hide the homepage background image -->
<div class="overlay"></div>
<div class="container mb-2 success-container">
    <!-- Order Success Confirmation -->
    <div class="row">
        <div class="col">
            <h2 class="text-center bag-title mt-4">Thank you for ordering from Clay & Fire!</h2>
            <hr class="w-50 mb-1">
            <p class="text-muted text-center">Please see order details below. You will receive a confirmation email at
                {{ order.email }}.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mt-4">
            <!-- Delivery Page Image -->
            <img class="delivery-image" src="https://clay-and-fire.s3.eu-west-2.amazonaws.com/media/delivery-image.jpg" alt="delivery image">
        </div>
        <div class="order-confirmation mt-4">
            <div class="col-12">
                <div id="order-confirmation-box">
                    <!-- Order Summary -->
                    <div class="row">
                        <div class="col">
                            <p class="logo order-conf-headers"><strong>Order Info</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <p class="logo order-conf-headers"><strong>Order Details</strong></p>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0">Product</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ item.quantity }} no. {{ item.product.name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0">Price Each</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">£{{ item.product.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
    
                    <div class="row">
                        <div class="col">
                            <p class="logo order-conf-headers"><strong>Delivery Details</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Delivering to</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Address</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.street_address2 }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4"></div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4"></div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4"></div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4"></div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <p class="logo order-conf-headers"><strong>Billing Info</strong></p>
                        </div>
                    </div>

                    {% if order.coupon %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Coupon</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.coupon }} | £{{ order.coupon.amount }}</p>
                        </div>
                    </div>
                    {% endif %}
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ order.order_total }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ order.delivery_cost }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">£{{ order.grand_total }}</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center shop-more-div">
            <!-- Button to return to User Profile if exists -->
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn rounded-0 my-2 icon shop-more">
                <span class="mr-2">
                    <i class="fa-solid fa-user"></i>
                </span>
                <span>Return to Profile</span>
            </a>
            {% else %}
            <!-- Button to browse more products if not -->
                <a href="{% url 'products' %}" class="btn rounded-0 my-2 icon shop-more">
                    <span class="mr-2">
                        <i class="fa-solid fa-gem"></i>
                    </span>
                    <span>Forgotten something? Click here to browse more products!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}