/* ------------------------------------ Form Styling */
#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #8e9ba8;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #8e9ba8;
}

/* ------------------------------------ Media Queries */
@media (min-width: 1301px) {
    /* Larger container for xl screen sizes */
    .success-container {
      height: 100% !important;
    }
  }