{% extends 'base.html' %}
{% load static %}
{% block extra_title %} | About Us{% endblock %}

<!-- I've Kept this page header here as it pushing the Shopping Bag title down
    below the navigation and delivery banner -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- White background overlay div to hide the homepage background image -->
<div class="overlay"></div>
<div class="container h-100 faq-container">
    <div class="row">
        <div class="col">
            <!-- Page Header -->
            <h2 class="logo-font mb-4 text-center page-title"><strong>
                    About Us
                </strong></h2>
            <hr class="w-50">
        </div>
    </div>
    <div class="row">
        <!-- About the Business -->
        <div class="col-12 text-muted text-center">
            <h4 class="logo">Who are we?</h4>
        </div>
        <div class="col-12 text-center">
            <p>Founded in May 2022, Clay and Fire Jewellery is a handmade jewellery business, focusing on creating
                jewellery that is both perfect for everyday wear but can also be added to transition from day to night.
            </p>
            <p>The majority of our jewellery is created using polymer clay. This is due to its durability, vibrancy and
                lightweight feel. Even our larger pieces, especially earrings, can be worn all day without irritation.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-muted text-center">
            <h4 class="logo">Our Values</h4>
        </div>
        <div class="col-12 text-muted text-center">
            <h6>Sustainability</h6>
        </div>
        <div class="col-12 text-center">
            <p>We value the planet, that's why we create our pieces as they are ordered, ensuring we use only the
                required
                materials. We also ensure all of our packaging is recyclable and does not contain plastic.
            </p>
            <p>We endeavour to continuously improve our impact on the environment and develop our sustainability
                strategies to
                look after the world whilst doing what we love - making jewellery that our customers love and wear on a
                regular
                basis.
            </p>
        </div>
        <div class="col-12 text-muted text-center">
            <h6>Our Customers</h6>
        </div>
        <div class="col-12 text-center">
            <p>We wouldn't be here without our amazing customers, therefore, we believe their experience of the brand to
                be of the
                upmost importance. All of our products are made with care and attention to detail to ensure they are
                both durable and
                made to a high quality. We believe in value before profit and keep that in mind when creating our
                designs.
            </p>
        </div>
        <div class="col-12 text-muted text-center">
            <h6>Cost-conscious</h6>
        </div>
        <div class="col-12 text-center">
            <p>We would love our designs to be accessible to everyone, therefore there is a wide selection of pieces in
                varied price
                ranges to accommodate a variety of shoppers without compromising on the quality of our products.
            </p>
        </div>
    </div>

</div>

{% endblock %}