html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url('/media/landing.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* from Bulma */
i {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

/* ------------------------------------ Navbar */

.logo {
    text-transform: uppercase;
    color: #730C02;
}

.logo-link {
    width: fit-content;
}

.logo-header {
    color: black;
    padding: 40px 40px 0 40px;
}

.icon {
    color: #730C02;
    cursor: pointer;
}

.icon:hover {
    color: #D9895B;
}

.nav-text {
    color: black;
    text-transform: uppercase;
}

/* ------------------------------------ Search Box */

input[name='q']::placeholder {
    color: #730C02;
}

/* ------------------------------------ Delivery Banner */

#delivery-banner {
    background-color: #D9A689;
}

/* ------------------------------------ Homepage Main Heading */
.landing {
    margin: 50px;
}

.landing-msg {
    background-color: #beb5b1a6;
    border-radius: 2px;
}

.sub-header {
    color: black;
    padding: 20px 20px 0 40px;
    font-style: italic;
}

/* ------------------------------------ Error 404 Message */
.error {
    margin: 0 auto;
    border-radius: 2px;
}

.error-overlay{
    background-color: #beb5b1a6;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
/* ------------------------------------ Footer */
footer {
    background-color: #D9A689;
    position: relative;
}

.footer-links {
    color: #730C02;
    cursor: pointer;
}

.footer-links:hover {
    color: #2020207a;
}

.copyright{
    float: left;
    width: 95%;
    padding: 5px;
}

.copyright p {
    display: inline-block;
    margin: 0;
}

.copyright i {
    color: #2020207a;
}

.footer-div {
    padding: 5px;
}

.footer-header {
    padding: 8px;
}

#mc_embed_signup {
    clear: left;
}

.contact-form {
    margin: 0 auto;
}

/* ------------------------------------ Buttons */

.shop-now {
    padding-left: 40px;
}

.shop-now-btn {
    background-color: #A63F03;
    color: #D9D4D2;
}

.shop-now-btn:hover {
    background-color: #D9D4D2;
    color: #A63F03;
}

.categories {
    color: rgba(0,0,0,.5);
    font-size: larger;
}

.categories:hover {
    color: #212529;
}

.shop-btn {
    color: #730C02;
    border: 1px solid #730C02;
    margin-bottom: 20px;
}

.shop-btn:hover,
.shop-text:hover {
    background-color: #730C02;
    color: white;
}

.add {
    float: left;
    margin-right: 2%;
    padding-left: 5px;
}

.bag-add {
    padding: 2%;
    color: #730C02;
}

.bag-add-btn {
    font-size: 1.25rem;
}

.bag-add-btn:hover {
    color: #A63F03;
}

.bag-btn {
    cursor: pointer;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.free-del {
    background-color: #D9A689;
}

/* ------------------------------------ All Pages */
.page-title {
    padding-top: 2%;
}



/* ------------------------------------ FAQ's Accordion */
.faq-container {
    margin-bottom: 20px;
}

/* ------------------------------------ Allauth Pages */
.allauth-form-inner-content input {
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* From Boutique Ado/Bootstrap */
.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    color: #730C02;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #730C02;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover {
    background-color: #730C02;
    color: white;
}

/* ------------------------------------ Media Queries */
@media (min-width: 1200px) {
    /* Larger container for xl screen sizes */
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up screen sizes */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
        margin-bottom: 10px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media screen and (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: 100%;
    
    }
}

@media screen and (max-width: 900px) {
    /* Homepage Styling */
    .logo-header {
        font-size: x-large;
    }

    .sub-header {
        font-size: large;
    }

    nav li {
        width: 25%;;
    }
}

@media screen and (min-width: 768px) {
    /* Shopping bag styling */
    .bag-content {
        height: 100%;
    }

    /* Footer */
    .footer {
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    /* Navigation Styling */
    nav {
        font-size: small;
    }

    /* Delivery Banner Styling */
    .delivery-banner {
        font-size: medium;
    }

    /* Homepage Styling */
    .logo-header {
        font-size: large;
    }

    .sub-header {
        font-size: medium;
    
    }

    .landing {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {
    /* Navigation Styling */
    nav {
        font-size: xx-small;
    }

    nav li {
        margin: 0 !important;
        width: 25%;;
    }

    .navbar-nav,
    .dropdown-item {
        font-size: small !important;
        font-weight: bolder;
    }

    /* Delivery Banner Styling */
    .delivery-banner {
        font-size: x-small;
    }

    .landing {
        margin: 20px auto 30px;
    }

    .logo-header {
        padding: 20px 20px 10px 20px !important;
    }

    .sub-header {
        padding: 10px 20px 10px 20px !important;
    }

    .shop-now {
        margin: 20px !important;
        padding-left: 0;
    }

    .shop-now-btn {
        padding: 8px !important;
        font-size: xx-small;
    }

    /* Footer Styling */
    .footer-header {
        font-size: small;
    }
}

@media screen and (max-width: 300px) {
    /* Navbar Styling */
    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }

    .navbar {
        justify-content: center;
    }

    nav li {
        font-weight: bolder;
    }

    /* Delivery Banner Styling */
    .delivery-banner {
        font-size: xx-small;
    }
}

@media screen and (max-width: 227px){
    /* Homepage Styling */
    .landing {
        margin: 75px auto 30px;
        padding: 5px;
    }

    .logo-header {
        font-size: medium;
    }

    .sub-header {
        font-size: small;
    }
}