/* ------------------------------------ Add Product Page */
.add-product-form {
    margin: 0 auto;
    width: 75%;
}

.add-product:hover {
    color: #D9895B;
}

.cancel {
    color: #730C02;
    border: 1px solid #730C02;
}

.cancel:hover {
    background-color: #730C02;
    color: white;
}

/* ------------------------------------ Delete Product Page */
#delete {
    margin: 50px;
}

#delete-confirm {
    background-color: #beb5b1a6;
    margin: 0 auto;
    padding: 40px;
    width: 50%;
    border-radius: 10px;
    font-size: large;
}

.item-img {
    height: 350px;
    width: 250px;
    object-fit: cover;
}

/* ------------------------------------ Product Details Pages */

.price {
    float: left;
    width: 10%;
}

.rating {
    display: inline-block;
}

.rating-icon {
    color: #D9895B;
}

.details-img {
    padding-top: 4%;
    padding-bottom: 4%;
}

.details-img img {
    height: 500px;
    object-fit: contain;
}

.title {
    padding-top: 7%;
}

.description {
    margin-right: 100px;
}

/* ------------------------------------ Media Queries */

@media screen and (min-width: 768px) {
    .product-content {
        height: 100%;
    }

    .bag-content {
        height: 100%;
    }
}

@media screen and (max-width: 991px) {
    /* ------------------------------------ Add Product Page */
    .add-product-form {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    /* ------------------------------------ Product Details Page */
    .details-img img {
        height: 300px !important;
        width: 70%;
    }

    .title {
        padding-top: 0;
    }
}

@media screen and (max-width: 576px) {
    /* ------------------------------------ Product Details Page */
    .title {
        font-size: x-large;
    }
}