/* ------------------------------------ Add Product Page */
.add-product-form {
    margin: 0 auto;
    width: 75%;
}

.add-product:hover {
    color: #D9895B;
}

.cancel {
    color: #730C02;
    border: 1px solid #730C02;
}

.cancel:hover {
    background-color: #730C02;
    color: white;
}

/* ------------------------------------ Delete Product Page */
#delete {
    margin: 50px;
}

#delete-confirm {
    background-color: #beb5b1a6;
    margin: 0 auto;
    padding: 40px;
    width: 50%;
    border-radius: 10px;
    font-size: large;
}

/* ------------------------------------ Media Queries */
@media screen and (max-width: 991px) {
    /* ------------------------------------ Add Product Page */
    .add-product-form {
        width: 100%;
    }
}