{% extends "base.html" %}
{% load static %}
{% block extra_title %} | Add Product{% endblock %}

<!-- Additional CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

<!-- I've Kept this page header here as it pushing the Shopping Bag title down
    below the navigation and delivery banner -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- White background overlay div to hide the homepage background image -->
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title text-center">
                    <!-- Page Title -->
                    <strong>Product Management</strong>
                </h2>
                <hr>
                <h5 class="page-title text-center">Add a Product</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Add Product Form -->
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2 add-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <!-- Cancel and return to all Products -->
                        <a class="btn rounded-0 cancel" href="{% url 'products' %}"><i class="fa-solid fa-chevron-left"></i>
                            Cancel</a>
                            <!-- Submit Product to Database -->
                        <button class="btn rounded-0 add-product" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}