{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Edit Product{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title text-center">
                    <strong>Product Management</strong>
                </h2>
                <hr>
                <h5 class="page-title text-center">Edit {{product.name}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2 add-product-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn rounded-0 cancel" href="{% url 'products' %}"><i class="fa-solid fa-chevron-left"></i>
                            Cancel</a>
                        <button class="btn rounded-0 add-product" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}